<div class="dash-component bg-[#121212] p-8 border border-[#caff5881] rounded">
  <div class="max-w-[1000px] mx-auto">
    <div class="news-des-title bg-[#1B1B1B] p-4 rounded-lg">
      <h1 class="text-2xl">
        {{ announcement?.headline }}
      </h1>
      <div class="mt-2">
        <span class="timestamp text-[0.875rem] text-[#9ca3af]"
          >Added: {{ announcement?.published }} by:
          {{ announcement?.publishedBy }}</span
        >
      </div>
      <div class="mt-4">
        <span
          class="news-category"
          [style]="
            'background:' +
            announcement?.type?.color +
            '33; border: 1px solid ' +
            announcement?.type?.color
          "
          >{{ announcement?.type?.name }}</span
        >
      </div>
    </div>
    <div class="photo-container h-80 my-3">
      <img
        [src]="imageDomain + announcement?.imgUrl"
        class="w-full h-full object-cover rounded-lg"
        alt="Game preview"
      />
    </div>
    <div class="main-content-container bg-[#1B1B1B] p-8 rounded-lg">
      <h1 class="text-xl border-l-4 ps-4 mb-8 border-[#97ff10]">
        {{ announcement?.primaryKeyword }}
      </h1>
      <div
        class="content-html text-[#9ca3af]"
        [innerHTML]="announcement?.contentHtml"
      ></div>
    </div>
  </div>
  <div class="related-games">
    <h2>Related Games</h2>
    <div class="related-games__box">
      @for (game of relatedGames; track $index) {
        <!-- This link should be changed -->
        <a class="related-games__box__card" [href]="'https://playze.io/games/' + game.urlName" target="_blank">
          <div class="related-games__box__card__img">
            <img
              [ngSrc]="game.imgUrl"
              [alt]="game.name"
              width="280"
              height="131"
            />
          </div>
          <div class="related-games__box__card__title">
            <p>{{ game.name }}</p>
          </div>
        </a>
      }
    </div>
  </div>
</div>
